<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" http-equiv="Content-Type"
          content="text/html; charset=UTF-8;width=device-width, initial-scale=1"/>
    <title>批次线</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/gaokao.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <style>
        body {
            background-color: whitesmoke;
        }

        .cube {
            width: 1250px;
            height: 1200px;
            background-color: #FFFFFF;
            margin: 30px 40px;
        }






        table {
            border-collapse: collapse;
            width:30%;
            margin-left: 20px;
            text-align: center;
            float: left;
            margin-top: 20px;


        }
        table, td, th {
            border: 1px solid black;
        }

        td:hover{
            background-color: rgba(225,225,225,0.7);
        }

         td
        {
            height:60px;
        }

        .zd a {
            width: 50px;
            height: 50px;
            background-color: #42495d;
            color: #b0b0b0;
            font-size: 15px;
        }


        .con {
            /*border: 1px solid #000;*/
            /*padding: 10px;*/
            width: 62px;
            height: 50px;
            background-color: #42495d;
            float: right;
            position: fixed;
            bottom: 62px;
            right: 0px;
            font-size: 15px;
            font-weight: bold;
            color: #b0b0b0;
        }

        .img {
            display: none;
            width: 50px;
            height: 50px;
        }

        .con:hover > .img {
            display: block;
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: 0;
            right: 43px;

            z-index: 30;
        }
    </style>
</head>

<body>

<!--<div class="title1">-->
<!--    <div class="title">-->
<!--        <div class="heading-spotlight">-->
<!--            <a href="/">-->
<!--                <img src="http://img3.youzy.cn/content/media/thumbs/p00208392.png" height="80" width="358">-->
<!--            </a>-->

<!--        </div>-->
<!--    </div>-->
<!--    <div  style="display: inline-block;float: right;margin-top: 22px">-->
<!--        <form style="float: left;margin-top: 3px">-->
<!--            <input type="txt_zip"  style="float: left" placeholder="找大学/查专业" >-->
<!--        </form>-->
<!--        <a href="/denglu" style="float: left">-->
<!--            <button class="vipbutton" >登录</button>-->

<!--        </a>-->
<!--        <a href="/register" style="float: left">-->
<!--            <button class="vipbutton" >注册</button>-->
<!--        </a>-->

<!--    </div>-->


<!--    <div class="top" >-->
<!--        <div class="top_content"> 志愿填报专家</div>-->
<!--        <div class="heading-navbar">-->

<!--            <div class="dropdown">-->
<!--                <span><a href="/">首页</a></span>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--                <span><a href="/xingaokao">新高考》</a></span>-->
<!--                <div class="dropdown-content" >-->
<!--                    <a href="/zixun">高考资讯</a>-->
<!--                    <br>-->
<!--                    <a>完整智能模式</a>-->
<!--                    <br>-->
<!--                    <a href="/chaxun">根据大学选专业</a>-->
<!--                    <br>-->
<!--                    <a>根据专业选科目</a>-->
<!--                    <br>-->
<!--                    <a>根据科目选专业</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--                <span><a href="/ceshi">学业测评</a></span>-->
<!--            </div>-->
<!--            <div class="dropdown" >-->
<!--                <span><a href="/yijiantianbao">智能填报》</a></span>-->
<!--                <div class="dropdown-content" style="width: 200px">-->
<!--                    <div class="lf" style="width: 40%;float: left">-->
<!--                        <p>查</p>-->
<!--                        <a href="/majors/Homepage">查专业</a>-->
<!--                        <br>-->
<!--                        <a href="/schoolHomepage">找大学</a> <br>-->
<!--                        <a href="/weici">位次查询</a> <br>-->
<!--                        <a href="/fenshuxian">分数线</a> <br>-->
<!--                        <a>提前批</a> <br>-->
<!--                        <a>看职业</a> <br>-->
<!--                        <a href="/picixian">批次线</a> <br>-->

<!--                    </div>-->
<!--                    <div class="ri" style="width: 60%;float: left"></div>-->
<!--                    <p>填</p>-->
<!--                    <a href="/yijiantianbao">一键填报</a> <br>-->
<!--                    <a href="/1dui1">专家一对一填报</a> <br>-->
<!--                    <a href="/yijiantianbao">院线优先填报</a> <br>-->
<!--                    <a href="/yijiantianbao">专业优先填报</a> <br>-->
<!--                    <a href="/yijiantianbao">自主填报</a> <br>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--                <span><a href="/jiangtang">课堂》</a></span>-->
<!--                <div class="dropdown-content" style="width: 300px">-->
<!--                    <div class="lf" style="width: 30%;float: left">-->
<!--                        <p>讲堂</p>-->


<!--                    </div>-->
<!--                    <div class="lf" style="width: 30%;float: left">-->
<!--                        <a href="/ketang">课程</a><br>-->
<!--                        <a>语文</a>-->
<!--                        <a>数学</a> <br>-->
<!--                        <a>英语</a>-->
<!--                        <a>生物</a> <br>-->
<!--                        <a>历史</a>-->
<!--                        <a>地理</a> <br>-->
<!--                        <a>物理</a>-->
<!--                        <a>政治</a> <br>-->
<!--                        <a>化学</a>-->

<!--                    </div>-->
<!--                    <div class="ri" style="width: 30%;float: left"></div>-->
<!--                    <p href="/kaoshi">试题》</p>-->
<!--                    <a>模拟试题</a> <br>-->
<!--                    <a>高考真题</a> <br>-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--                <span><a href="/fuwu">服务</a></span>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--                <span><a href="/zixunshi">咨询师</a></span>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<div th:insert="navigation :: nav"></div>

<div class="cube">

        <p style="font-size: 22px;margin-left: 30px;padding-top: 20px">||陕西批次线</p>

    <div class="nf" style="color: red">
        <table>

            <tr style="background-color: rgba(225,225,225,0.3)">
                <td>2019</td>
                <td>文科</td>
                <td>理科</td>
            </tr>
            <tr>
                <td>本一批</td>
                <td>518</td>
                <td>468</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>400</td>
                <td>363</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>150</td>
                <td>150</td>
            </tr>
        </table>
    </div>
    <div class="nf">
        <table>

            <tr style="background-color: rgba(225,225,225,0.3)">
                <td>2018</td>
                <td>文科</td>
                <td>理科</td>
            </tr>
            <tr>
                <td>本一批</td>
                <td>518</td>
                <td>474</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>467</td>
                <td>425</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>345</td>
                <td>332</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>160</td>
                <td>160</td>
            </tr>
        </table>
    </div>
    <div class="nf">
    <table>

        <tr style="background-color: rgba(225,225,225,0.3)">
            <td>2017</td>
            <td>文科</td>
            <td>理科</td>
        </tr>
        <tr>
            <td>本一批</td>
            <td>509</td>
            <td>449</td>
        </tr>
        <tr>
            <td>本二批</td>
            <td>457</td>
            <td>397</td>
        </tr>
        <tr>
            <td>本三批</td>
            <td>334</td>
            <td>301</td>
        </tr>
        <tr>
            <td>高职专科</td>
            <td>150</td>
            <td>150</td>
        </tr>
    </table>
</div>


    <div class="nf">
        <table >

            <tr style="background-color: rgba(225,225,225,0.3)">
                <td>2016</td>
                <td>文科</td>
                <td>理科</td>
            </tr>
            <tr>
                <td>本一批</td>
                <td>511</td>
                <td>470</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>460</td>
                <td>423</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>381</td>
                <td>344</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>200</td>
                <td>200</td>
            </tr>
        </table>
    </div>
    <div class="nf">
        <table >

            <tr style="background-color: rgba(225,225,225,0.3)">
                <td>2015</td>
                <td>文科</td>
                <td>理科</td>
            </tr>
            <tr>
                <td>本一批</td>
                <td>510</td>
                <td>480</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>467</td>
                <td>440</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>382</td>
                <td>350</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>220</td>
                <td>200</td>
            </tr>
        </table>
    </div>
    <div class="nf">
        <table >

            <tr style="background-color: rgba(225,225,225,0.3)">
                <td>2014</td>
                <td>文科</td>
                <td>理科</td>
            </tr>
            <tr>
                <td>本一批</td>
                <td>548</td>
                <td>503</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>492</td>
                <td>452</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>382</td>
                <td>342</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>273</td>
                <td>256</td>
            </tr>
        </table>
    </div>
    <div class="nf">
        <table>

            <tr style="background-color: rgba(225,225,225,0.3)">
                <td>2013</td>
                <td>文科</td>
                <td>理科</td>
            </tr>
            <tr>
                <td>本一批</td>
                <td>540</td>
                <td>485</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>486</td>
                <td>435</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>386</td>
                <td>330</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>200</td>
                <td>150</td>
            </tr>
        </table>
    </div>



</div>


<div class="con"><p>微信咨询</p>
    <img class="img" src="http://img3.youzy.cn/content/media/thumbs/p00215513.jpeg"/>
</div>
<div class="zd">

    <a href="#" name="ding" style="float: right;position:fixed;bottom:0;right:0;">回到顶部</a><br/>
</div>
<div class="page-footer">
    <div class="container">
        <ul class="ts">
            <li>
                <a href="">关于我们

                </a>

            </li>
            <li>
                <a href="">联系我们</a>
            </li>
            <li>
                <a href=""><i class="iconfont icon-tian"></i>法律声明</a>
            </li>
            <!--            <li>-->
            <!--                <a href=""><i class="iconfont icon-lipinl"></i>4维修服务</a>-->
            <!--            </li>-->
            <li>
                <a>服务热线： 18629648756</a>
                <br><a>营业时间： 9:00~21:00</a>

            </li>
            <br>
            <br>
            <br>
            <br>
            <h>UP志愿专家 西安阿谱云教育科技有限公司版权所有 陕ICP备
                <br>
                20000936号 © 2012- 2020
            </h>
        </ul>


    </div>
</div>
</body>
</html>